
/*PORTFOLIO TITLE */

.title-section {
  padding: 3rem 0; /*remove white gap after title and nav bar*/
  background-image: url("Images/cyber-img.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  min-height: 90vh;   /* to scale with screen height */
}

@media (max-width: 768px) {
  .title-section {
    background-position: top center;
    min-height: 60vh;
  }
}

h2 {
  font-family: "tektur", Georgia, 'Times New Roman', Times, serif;
  color: #312e28 !important;
  
}

/*NAV BAR*/
.navbar{
    background-color:#8fa59b;
}


.nav-link { 
  position: relative; /*make .nav-link relative for ::before to be relative to the link*/
  color:#1a1c1a !important;  /*color only for nav bar text / doesnt affect dropdown items*/  
}


.nav-link::before{ 
  content:""; /*empty so it just underlines*/
  position: absolute; /*position relative to nav link*/
  bottom: 0; /*place underline under link*/
  left: 50%; /* start in the center*/
  transform: translate(-50%); /*center underline*/
  width: 0; /*start for transition*/
  height: 3px; /*underline thickness*/
  background-color: #4f6b5a;
  transition: 0.3s ease-in-out !important; /*animation on underline*/
}


.nav-link:hover::before, .nav-link.active::before { 
  width: 100%; /*width of underline in link*/
}


nav a[aria-current="page"]{ /*current page text is bolder*/
  font-weight: 700;  
}


/*MAIN*/
main {
    padding-top: 5px;
    background-color: #f6f4f3;
}


/*SOCIAL ICONS*/
.fa {
  padding: 20px;
  font-size: 30px;
  width: 50px;
  text-align: center;
  text-decoration: none;
  margin: 5px 2px;
}

.fa:hover { /*less visible when cursor goes over icon*/
    opacity: 0.7;
}

.fa-linkedin {
  background: #007bb5;
  color: white;
  border-radius: 50%;
}

.fa-youtube {
  background: #bb0000;
  color: white;
  border-radius: 50%;
}


/*FOOTER*/
footer {
  background-color: #dadfd8;
}

.footer p, .footer ul { /*to avoid white gaps surrounding footer*/
  margin: 0;
}

.footer-menu{
  list-style-type: none; /*remove bullets on menu list*/
  color: #1a1c1a;
}

.footer-menu a{
  text-decoration: none; /*remove underline*/
  color: #4f6b5a;
  font-weight: 500;
}

.footer-menu li a:hover{
  transition: 0.5s ease-out;
  color: #2f332f;
  border-bottom: 2px solid #2f332f;
} 